{% extends "base.html" %}
{% load static %}

{% block title %} Rebase|Home {% endblock %}

{% block content %} 
    <div class="row2">
        <div class="row2_1">
            <h4>Frase Esapñol: </h4>
            <p>{{text_esp}}</p>
        </div>
        <div class="row2_2">
            <form action="/rebase/phrase" method='POST'>
                {% csrf_token %}
                <button type="submit" value='submit' class="btn_translate">Dar Aleatorio</button>
                
                <input type="number" value="{{contador}}" name='contador' class="contador">
            </form>
            <form action="/rebase/listen" method='POST'>
                {% csrf_token %}
                <button type="submit" value='submit' class="btn_translate">Escuchar</button>
                
                <input type="hidden" value="{{contador}}" name='contador' class="contador">
            </form>
            <form action="/rebase/delete_sentence" method='POST'>
                {% csrf_token %}
                <button type="submit" value='submit' class="btn-out" style="margin-left: 200px;">Eliminar</button>
                
                <input type="hidden" value="{{contador}}" name='contador' >
            </form>
            
            
        </div>
        <div class="row2_3">
            <form action="/rebase/phrase2" method='POST'>
            {% csrf_token %}
            <h4>Escribe aquí tu respuesta en Inglés:</h4>
            <input type="text" name='answer_sentence' class='answer_sentence'>
            <div class="btn_respuesta_nivel" >
                <p></p>
                <input type="hidden" value="{{contador}}" name='contador'>
                <button type="submit" value='submit' class="btn_answer">Ver Respuesta</button>
                <p>Nivel: {{ nivel }}</p>
            </div>
            </form>        
        </div>
        <div class="row2_4">
            <h4>Frase Inglés: </h4>
            <p>{{ english_sentence }}</p>
        </div>
    </div>

{% endblock %}