{% extends "base.html" %}
{% load static %}

{% block title %} Rebase|Home {% endblock %}

{% block content %} 

<div class="row_text">
    <div class="row1">
        <h1>Titulo - {{text_name}}</h1>
    </div>
    <br>
    <div class="row2">
        <div class="row2_1">
            
            <h4>English Text</h4>
            <p>{{content}}</p>
        </div>
        
        
        <div class="row2_2">
            
                <form action="/rebase/previous/{{book.id}}" method='POST'>
                    {% csrf_token %}
                    <input type="hidden" value="{{contador}}" name='contador'>
                    <button type="submit" value='submit' class="btn_direction">&#8249;</button>
                </form>
                <form action="/rebase/next/{{book.id}}" method='POST'>
                {% csrf_token %}
                        <input type="number" value="{{contador}}" name='contador' class="contador">
                <button type="submit" value='submit' class="btn_direction">&#8250;</button>
                </form>
                <form action="/rebase/translate/{{book.id}}" method='POST'>
                    {% csrf_token %}
                            <input type="hidden" value="{{contador}}" name='contador'>
                    <button type="submit" value='submit' class="btn_translate">Traducir</button>
                </form>
                
            
        </div>
        
        <div class="row2_3"></div>
        <div class="row2_4"></div>
        
    </div>
</div>


    



{% endblock %}